importFrom("stats", "cor")
importFrom("stats", "median")
importFrom("utils", "tail")
export(LHDs_I)
export(LHDs_II)
export(UDesigns_I)
export(UDesigns_II)
export(UDesigns_III)
export(Maxpro_Measure)
export(Discrete_Discrepancy)
export(PhipMeasure)
export(MAC)
export(Meeting_Number)