importFrom("stats", "cor")
importFrom("stats", "median")
export(LHDs_I)
export(LHDs_II)
export(UDesigns_1)
export(UDesigns_2)
export(Maxpro_Measure)
export(Discrete_Discrepancy)
export(PhipMeasure)
export(MAC)