importFrom("stats", "cor")
importFrom("stats", "median")
importFrom("utils", "tail")
importFrom("stats", "as.formula", "lm")
importFrom("utils", "combn")
export(wtLHDs_prime)
export(wtLHDs)
export(UDesigns_I)
export(UDesigns_II)
export(UDesigns_III)
export(Maxpro_Measure)
export(Discrete_Discrepancy)
export(PhipMeasure)
export(MAC)
export(Meeting_Number)
export(Best_Model)
export(SLHDs)
export(NOLHDs)
export(OLHDs_2F)